<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS style -->
    <link rel="stylesheet" href="/public/static/css/style-guestHome.css" />
    <title>MileEASY 캐러셀</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Jquery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <!-- FontAwesome CDN -->
    <script
      src="https://kit.fontawesome.com/3cc7440731.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="two-wrapper">
      <div class="header">
        <h3 class="logo">
          <a href="/">헤더</a>
        </h3>
      </div>
      <div class="two-body">
        <!-- 방명록 -->
        <section guestSection>
          <div class="swiper mySwiper guestContainer">
            <div class="swiper-wrapper content" id="card">
              <!-- 방명록 시작 -->
              <% for (i=0; i<data.length; i++) { %>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="/public/static/img/user_default_img.jpg" alt="" />
                    </div>
                    <div class="userMbti">
                      <span><%=data[i].mbti%></span>
                    </div>
                    <div class="userId-userContent">
                      <span class="userId"><%=data[i].name%></span>
                      <span class="userContent"><%=data[i].comment%></span>
                    </div>
                      <!-- <div class="button">
                        <button class="delete">delete</button>
                      </div> -->
                  </div>
                </div>
              <% } %>
              <!-- 게스트 방명록 종료 -->
            </div>
          </div>
        </section>
        <div><button type="button" onclick="mycard()">내가 쓴 카드 보기</button></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <!-- <div class="swiper-pagination"></div> -->

      <div><button type="button" onclick="cardcreate()">나도 추천하러 가기</button></div>
      <!-- <div><button type="button" onclick="mycard()">내가 쓴 카드 보기</button></div> -->
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });

      function cardcreate() {
        if (isLogin) {
          document.location.href="/guest_post";
        } else alert ("로그인을 해주세요!");
      }
      var card = document.querySelector("#card");
      function mycard() {
        axios({
          method : 'get',
          url : '/mycard'
        })
        .then((res)=> {
          //기존 카드를 싹 민다
          //내 카드만 보여준다
          console.log(res);
          console.log(res.data[0]);
          let html = ""
          for (i=0; i<res.data.length; i++) {
              html +=
                `<div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="${res.data[i].imgpath}" alt="" />
                    </div>
                    <div class="userMbti">
                      <span>${res.data[i].mbti}</span>
                    </div>
                    <div class="userId-userContent">
                      <span class="userId">${res.data[i].name}</span>
                      <span class="userContent">${res.data[i].comment}</span>
                    </div>
                      <input id="rc" type="hidden" value=${res.data[i].rc_id}>
                      <div class="button">
                        <button class="delete" onclick="cardDelete()">delete</button>
                      </div>
                  </div>
                </div>`
          }
          card.innerHTML = html;
        });
      }
      
      function cardDelete() {
        let rc = document.getElementById("rc");
        axios({
          method : 'delete',
          url : '/mycard',
          data : {
            rc_id : rc.value
          }
        })
        .then((res)=>{
          let html = ""
          for (i=0; i<res.data.length; i++) {
              html +=
                `<div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="${res.data[i].imgpath}" alt="" />
                    </div>
                    <div class="userMbti">
                      <span>${res.data[i].mbti}</span>
                    </div>
                    <div class="userId-userContent">
                      <span class="userId">${res.data[i].name}</span>
                      <span class="userContent">${res.data[i].comment}</span>
                    </div>
                      <input id="rc" type="hidden" value=${res.data[i].rc_id}>
                      <div class="button">
                        <button class="delete" onclick="cardDelete()">delete</button>
                      </div>
                  </div>
                </div>`
          }
          card.innerHTML = html;
        });
      }
    </script>
  </body>
</html>
