<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.6.2.js"
        integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>MBTI Test Page</title>
    <link rel="stylesheet" href="../public/static/css/mbtitest.css">
    <script type="text/javascript" src="/public/static/qnalist.json"></script>
    
</head>

<body>
    <img src="../public/static/img/Logo.png" alt="">
    <form>
        <div class="status">
            <div class="statusBar"></div>
        </div>
        <div id="qBox"></div>
        <div id="aBox"></div>
        <input type="hidden" id="select">
    </form>

    <div id="result"><button onclick="result();" id="result">결과보기</button></div>


    <script>
        function result() {
            location.href = "loading";
        }

        const endPoint = 20;//상태바 엔드포인트
        var no = 0;
        let arr = [];
        document.getElementById('result').style.display = "none";//결과버튼
        function goNext(a) {
            arr.push(a.className);
            if (no < qna.length -1 ) {
                
                document.getElementById('result').style.display = "none"//결과버튼
                axios({
                    method: 'post',
                    url: '/mbtitest',
                    data: {
                        type: arr
                    }
                })
                    .then((res) => {
                        console.log(res.data);
                        document.getElementById("select").value = res.data;
                    })
                no++;
                showQuestion();
            }
        
            else document.getElementById('result').style.display = "block"//결과버튼
        }
        function showQuestion() {

            document.getElementById("qBox").innerText = `Q${no + 1} ` + qna[no].q;
            var html = "";
            for (var a of qna[no].a) {
                html +=
                    `<button class="${a.type}" type="button" onclick="goNext(this);">${a.answer}</button>`;
            }
            document.getElementById("aBox").innerHTML = html;

            // 상태바 코드
            var status = document.querySelector('.statusBar');
            status.style.width = (100 / endPoint) * (no + 1) + '%';

        }
        showQuestion();

        function result() {
            let select = document.getElementById("select").value
            axios({
                    method : 'post',
                    url : '/mbtiresult',
                    data : {
                        data : select
                    }
                })
        }
    </script>
</body>

</html>