<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gallery</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/public/static/css/gal.css"/>
    <script type="application/javascript" src="/public/static/js/gal.js"></script>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
          <ul class="menu-items">
            <li><a href="#">Marine</a></li>
            <li><a href="#">Hyonie</a></li>
            <li><a href="#">Rooney</a></li>
            <li><a href="#">Nyondoo</a></li>
            <li><a href="#">GSII</a></li>
        </ul>

        <h1 class="logo" alt="" onclick="location.href='/'">MileEASY</h1>
        <!-- <img src="public/static/img/logo.png" class="logo" alt="" onclick="location.href='/'"> -->
    </div>
</nav>
  <div class="text">
    <h1>recommended page</h1> <br>
    <h3>Let's Find a Trip!</h3> <br>
    <h2>Find more diverse and rich travel destination information here. <br> The new trip start here!</h2> <br>
    <p> 보다 더 다양하고, 풍부한 여행지를 <br> 여기에서 찾아보세요. <br> 당신만의 새로운 여행을 시작하세요! </p> <br>
      <div class="btn">
      <button onclick="location.href='/guest_home'">여행지 추천하러 가기</button>
   </div>
  </div>

<div class="gallery-box ">
  <div class="gallery-main-box gallery-main-swiper swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <p class="info-img object-fit"><img src="/public/static/img/recommend/brazil.jpg" alt="Sample"></p>
        <p class="info-txt"><span>Brazil : 시원한 해변, 파도 소리와 자연을 만끽하기</span></p>
      </div>
      <div class="swiper-slide">
        <p class="info-img object-fit"><img src="/public/static/img/recommend/fin.jpg" alt="Sample"></p>
        <p class="info-txt"><span>Finland : 아름다운 오로라를 한 눈에</span></p>
      </div>
      <div class="swiper-slide">
        <p class="info-img object-fit"><img src="/public/static/img/recommend/italy.jpg" alt="Sample"></p>
        <p class="info-txt"><span>Italia : 따스함이 느껴지는 숲 속 마을에서 힐링</span></p>
      </div>
      <div class="swiper-slide">
        <p class="info-img object-fit"><img src="/public/static/img/recommend/new.jpg" alt="Sample"></p>
        <p class="info-txt"><span>New Zeeland : 밤 하늘을 수 놓은 별자리들</span></p>
      </div>
      <div class="swiper-slide">
        <p class="info-img object-fit"><img src="/public/static/img/recommend/us.jpg" alt="Sample"></p>
        <p class="info-txt"><span>United States : 자연의 건축물과 밤의 조화</span></p>
      </div>
      <div class="swiper-slide">
        <p class="info-img object-fit"><img src="/public/static/img/recommend/vietnam.jpg" alt="Sample"></p>
        <p class="info-txt"><span>vietnam : 신비한 분위기가 가득한 자연</span></p>
      </div>
    </div>
    <div class="control-wrap">
      <div class="swiper-gallery-prev">
      </div>
      <div class="swiper-gallery-next">
      </div>
    </div>
  </div>
  <div class="gallery-thumb-box gallery-thumb-swiper swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <p class="info-img object-fit"><img src="/public/static/img/recommend/brazil.jpg" alt="Sample"></p>
      </div>
      <div class="swiper-slide">
        <p class="info-img object-fit"><img src="/public/static/img/recommend/fin.jpg" alt="Sample"></p>
      </div>
      <div class="swiper-slide">
        <p class="info-img object-fit"><img src="/public/static/img/recommend/italy.jpg" alt="Sample"></p>
      </div>
      <div class="swiper-slide">
        <p class="info-img object-fit"><img src="/public/static/img/recommend/new.jpg" alt="Sample"></p>
      </div>
      <div class="swiper-slide">
        <p class="info-img object-fit"><img src="/public/static/img/recommend/us.jpg" alt="Sample"></p>
      </div>
      <div class="swiper-slide">
        <p class="info-img object-fit"><img src="/public/static/img/recommend/vietnam.jpg" alt="Sample"></p>
      </div>
    </div>
  </div>

</div>

</body>
</html>