<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS 슬라이더</title>
    <link rel="stylesheet" href="/public/static/css/slider1.css">

</head>
<body>
<div class="slider"  >
    <div class="gallery">
        <input type="radio" name="slide" id="slide1" checked>
        <input type="radio" name="slide" id="slide2">
        <input type="radio" name="slide" id="slide3">
        <input type="radio" name="slide" id="slide4">
        <ul id="imgholder" class="imgs">
            <li><img src="/public/static/img/entj.jpeg"></li>
            <li><img src="/public/static/img/slide2.jpg"></li>
            <li><img src="/public/static/img/slide3.jpg"></li>
            <li><img src="/public/static/img/slide4.jpg"></li>
        </ul>
        <div class="bullets" >
            <label for="slide1">&nbsp;</label>
            <label for="slide2">&nbsp;</label>
            <label for="slide3">&nbsp;</label>
            <label for="slide4">&nbsp;</label>
        </div>
    </div>
    <div class="text">
        <h1>recommended page</h1>
        <a>Let's Find a Trip!</a>
        <p>Find more diverse and rich travel destination information here. <br> The new trip start here!</p>
        <p> 보다 더 다양하고, 풍부한 여행지를 <br> 여기에서 찾아보세요. <br> 당신만의 새로운 여행을 시작하세요! </p>

    </div>
</div>
</body>
</html>