<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/static/css/result.css">
</head>

<body>

    <img src="../public/static/img/Logo.png" alt="" class="logo">
    <div class="panel">
        <h1 class="text1">당신의 mbti는</h1>
        <div class="result-box">
            <h1 class="mbti"><%=data.mbti%></h1>
            <p class="text2"></p>


        </div>

        <div class="tour-box">
            <h1>추천 여행지는<%=data.spot%></h1>
            <div class="tour"><img src="../static/img/boat.png" alt=""></div>
        </div>


    <div class="info">
        <ul>
            <li class="spot">정보<br><%=data.info%></li>
            <li class="info">위치<br><%=data.location%></li>
        </ul>
    </div>


        <div>
            <a href="/mbtitest" class="test-again">테스트 다시 하기</a>
            <button type="button" class="goto-main" onclick="location.href=''">메인으로 돌아가기</button>
        </div>
    </div>

    <script>
        

    </script>
</body>

</html>