<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/static/css/result.css">
    <script defer src="https://maps.googleapis.com/maps/api/js?key=<%=MAP_API_KEY%>&callback=initMap"></script>
</head>

<body>

    <img src="../public/static/img/Logo.png" alt="" class="logo">
    <div class="panel">
        <h1 class="text1">당신의 mbti는</h1>
        <div class="result-box">
            <h1 class="mbti"><%=mbti%></h1>
            <p class="text2"></p>


        </div>

        <div class="tour-box">
            <h1>추천 여행지는<%=spot%></h1>
            <div class="tour"><img src="../static/img/boat.png" alt=""></div>
        </div>


    <div class="info">
        <ul>
            <li class="spot">정보<br><%=info%></li>
            <li class="info">위치<br>
                <div id="map" style="height: 500px; width: 500px;"></div>
            </li>
        </ul>
    </div>


        <div>
            <a href="/mbtitest" class="test-again">테스트 다시 하기</a>
            <button type="button" class="goto-main" onclick="location.href='/'">메인으로 돌아가기</button>
        </div>
    </div>

    <script>
        window.initMap = function () {
            const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 37.5400456, lng: 126.9921017 },
            zoom: 10,
            });
        };
    </script>
</body>

</html>