<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/static/css/style.css" />
    <title>MileEASY 로그인</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1 class="logo">
          <a href="#"><img src="" alt="" /></a>
        </h1>
      </div>
      <div class="cloud"><img src="/public/static/img/cloud.png" alt="구름" /></div>
      <div class="air air1"><img src="/public/static/img/air.png" alt="낙하산" /></div>
      <div class="air air2"><img src="/public/static/img/air.png" alt="낙하산2" /></div>
      <div class="plane plane1">
        <img src="/public/static/img/plane1.png" alt="비행기1" />
      </div>
      <div class="plane plane2">
        <img src="/public/static/img/plane2.png" alt="비행기1" />
      </div>

      <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true" />
        <!-- 로그인 -->
        <div class="login" id="login_do">
          <form id="login">
            <label for="chk" aria-hidden="true">
              <!-- Login -->
              <a href="/"><img src="/public/static/img/Logo.png" alt="logo" /></a>
            </label>
            <input type="text" name="userId" placeholder="id" required="" />
            <input
              type="password"
              name="userPw"
              placeholder="Password"
              required=""
            />
            <button type="button" onclick="signin()">Sign in</button>
          </form>
          <p id="welcome" class="d-none"></p>
        </div>
      </div>
    </div>
    <script>
      function signin() {
        let form = document.querySelector("#login");
            let user = {
                    id:form.userId.value,
                    pw:form.userPw.value,
                }
            if(user.id =="" || user.pw== ""){
                alert("회원 정보를 모두 기입해 주세요");
            } else {
                axios({
                    method: 'get',
                    url: '/signin',
                    params: {
                        id: user.id,
                        pw: user.pw
                    }
                })
                .then((res)=>{
                    if(res.data.name){
                       alert(`welcome, ${res.data.name}!`);
                       window.location.href = "/";
                       //$("input[name=userId]").addClass("d-none");
                       //$("input[name=userPw]").addClass("d-none");
                       //$("#welcome").removeClass("d-none");
                       //$("#welcome").text(`${res.data.name}님 환영합니다!`);
                    } else {
                       alert(`정확한 정보를 입력하세요`);
                    } 
                });
            }   
      }
    </script>
  </body>
</html>
