<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST animation</title>

    <link rel="stylesheet" href="../public/static/css/test.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script> -->
</head>

<body>
    
    <div class="sky"></div>
    
    <div><img src="../public/static/img/cloud.png" alt="" class="cloud"></div>
    <div class="logo"><a href="/"><img src="/public/static/img/Logo.png" alt="logo" /></a>
    </div>
    
    <!-- <div class="text2">mbti로 알아보는 여행지</div> -->
    <div class="pt-7">
        <h1> MBTI로 알아보는 <br> 나만의 여행지 </h1>
    </div>

    <!-- <div class="text">mbti테스트 페이지 입니다. 아래 시작하기 버튼을 눌러 검사를 시작하십시오.</div> -->
    <div class="sand"></div>
    <div class="wet-sand"></div>
    <div class="sea">
        <div class="seafoam"></div>
    </div>
    <!-- <img src="../static/img/boat.png" alt="" class="boat"> -->
    <div class="sand-front"></div>
    <div class="button">
        <button onclick="location.href='mbtitest'">시작하기</button>
    </div>

 
</body>

</html>