<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container">
        <section id="main">
            <h3>MBTI로 알아보는 여행지</h3>
            <img src="../static/img/travel.png" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis quibusdam est pariatur officiis vero, doloremque perspiciatis aspernatur dolor quasi sed quam corporis quas mollitia debitis iusto dicta doloribus reiciendis in.</p>
            <button type="button" onclick="location.href='./mbtitest'">시작하기</button>
        </section>
        <section id="background">
            <div class="wave1"></div>
            <div class="wave2"></div>
            <div class="wave3"></div>
            <div class="wave4"></div>
            <div class="wave5"></div>
        </section>
    </div>
</body>
</html>