<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MileEASY MBTI로 알아보는 여행지</title>
    <link rel="stylesheet" href="public/static/css/test.css">
</head>

<body>
    <!-- <img src="public/static/img/logo.png" class="logo" alt="" onclick="location.href='/'"> -->
    <div><h1 class="logo" alt="" onclick="location.href='/'">MileEASY</h1></div>
    <div class="main">
        <div class="airplaneAnimation">
            <img src="public/static/img/plane3.png" alt="" class="plane">
        </div>
        <div class="clouds">
            <img src="public/static/img/cloud.png" alt="">
        </div>
        <div class="container">
            <div class="stack" style="--stacks: 3;">
              <span style="--index: 0;">MBTI 여행지</span>
              <span style="--index: 1;">MBTI 여행지</span>
              <span style="--index: 2;">MBTI 여행지</span>
            </div>
            <span class="right">TEST</span>
          </div>
        <!-- <h1 class="text">MBTI로 알아보는 여행지</h1> -->
        <div class="btn">
            <button onclick="location.href='mbtitest'">탐험하기</button>
        </div>
    </div>
</body>

</html>