<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="public/static/css/test.css">
</head>

<body>
  <img src="public/static/img/logo.png" class="logo" alt="" onclick="location.href='/'">
  <div class="main">
    <div class="airplaneAnimation">
      <img src="public/static/img/airplane.png" alt="" class="plane">
    </div>
    <div class="clouds">
      <img src="public/static/img/cloud.png" alt="">
    </div>
    <h1 class="text">mbti로 알아보는 여행지</h1>
  </div>
  </div>
  <div class="btn">
  <button onclick="location.href='mbtitest'">시작하기</button>
  </div>


</body>

</html>