<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/static/css/style.css" />
    <title>MileEASY 프로필 수정</title>
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- jquery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1 class="logo">
          <a href="#"><img src="" alt="" /></a>
        </h1>
      </div>
      <div class="cloud">
        <img src="/public/static/img/cloud.png" alt="구름" />
      </div>
      <div class="air air1">
        <img src="/public/static/img/air.png" alt="낙하산" />
      </div>
      <div class="air air2">
        <img src="/public/static/img/air.png" alt="낙하산2" />
      </div>
      <div class="plane plane1">
        <img src="/public/static/img/plane1.png" alt="비행기1" />
      </div>
      <div class="plane plane2">
        <img src="/public/static/img/plane2.png" alt="비행기1" />
      </div>

      <div class="main">
        <div class="edit">
          <form
            action="/userUpdate"
            method="post"
            enctype="multipart/form-data"
            id="form_userUpdate"
          >
            <label for="chk" aria-hidden="true">
              <a href="/"> 
                  <img src="/public/static/img/Logo.png" alt="logo"/> 
              </a>
            </label>

            <div class="file_form">
              <div class="img_wrap">
                <% if(profile) { %>
                 <img
                  id="profile_img"
                  src="<%=profile%>"
                  alt="프로필 이미지"
                 /> 
                <% } else { %> 
                 <img
                  id="profile_img"
                  src="/public/static/img/user_default_img.jpg"
                  alt="프로필 이미지"
                 />
                <% } %>
              </div>
              <div class="file_wrap">
                <input
                  id="userfile"
                  type="file"
                  name="imageFile"
                  accept="image/*"
                />
              </div>
            </div>

            <input type="text" name="userId" value="<%=data.id%>" disabled/>
            <input
              type="text"
              name="userName"
              placeholder="User name"
              value="<%=data.name%>"
              required
            />
            <input
              type="password"
              name="userPw"
              placeholder="Password"
              required
            />
            <div class="userInfoBtn">
              <button type="button" onclick="userEdit()">edit</button>
              <button type="button" onclick="userdelete()">delete</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      //var imgpath = document.querySelector("#profile_img").src.split('/')[6];
      $("#userfile").change(function () {
        var file = document.getElementById("userfile");
        var formData = new FormData();
        formData.append("imageFile", file.files[0]);
        axios({
          method: "post",
          url: "/userUpdate/image",
          data: formData
          })
          .then((a) => {
            return a.data;
          })
          .then((d) => {
            document.querySelector("#profile_img").src = d.path;
          });
      });

      function userEdit() {
        var form = document.getElementById("form_userUpdate");
        let user = {
          id: form.userId.value,
          pw: form.userPw.value,
          name: form.userName.value,
          img: form.imageFile.value,
          //imgpath: imgpath
        };
        axios({
          method: "patch",
          url: "/userUpdate",
          data: user,
        })
        .then((res) => {
            if (res.data) {
              alert("회원정보 수정 성공");
              window.location.href = "/";
            } else {
              alert("알 수 없는 문제가 발생했습니다.");
            }
        });
      }

      function userdelete() {
        var form = document.getElementById("form_userUpdate");
        let user = {
          id: form.userId.value,
          pw: form.userPw.value,
          name: form.userName.value,
          img: form.imageFile.value,
          //imgpath: imgpath
        };
        if(user.pw == "") {
          alert("패스워드를 입력해 주세요");
        } else {
          axios({
          method: "post",
          url: "/userDelete",
          data: user,
          })
          .then((res)=>{
            if (res.data) {
              alert("회원탈퇴 성공");
              window.location.href = "/";
            } else {
              alert("알 수 없는 문제가 발생했습니다.");
            }
          });
        } 
      }
    </script>
  </body>
</html>
