@charset "UTF-8";

@font-face {
    font-family: 'rale_bold';
    src: url('/public/static/font/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'rale_light';
    src: url('/public/static/font/Raleway-Light.ttf') format('truetype');
}

body {
    background-color:#c2ecfd;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 0;

}

div {
    display: flex;

}

button {
    color: white;
    background-color:#2196f3;
    border: none;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    font-size: 1.3em;
    font-weight: 600;
    font-family: "rale_light";
}

a {
    color: black;
    text-decoration: none;
    font-family: "rale_light";

}

button:hover {
    background:  navy;
    transition: 0.5s;
    transform: scale(1.3);
}

#qBox {
    /* color: white; */
    margin: 30px;
    padding: 30px;
    background-color: none;
    /* text-align: center; */
    border-radius: 20px;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    font-weight: 600;
}

#aBox {
    color: white;
    margin: 20px;
    /* padding: 20px 20px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}


.status{
    /* border: 2px solid #f90; */
    margin: auto;
    height:20px;
    width: 80%;
    background-color: white;
    border-radius: 20px;
}

.statusBar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #2196f3;
    border-radius: 20px;

}

img{
    width: 100px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}

#result{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;   
    font-family: "rale_light";

}