/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.logo {
    width: 80px;
    height: 50px;
}

body {
    min-height: 100vh;
    background-color: #fdf1d7;
    box-sizing: border-box;
}

.text1 {
    text-align: center;
    font-size: 2em;
    margin: 25px 10px;
}

.panel {
    /* border: 1px solid black; */
    margin: 20px 80px;
    border-radius: 10px;
    /* padding: 15px 25px; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.result-box {
    /* background-color: white; */
    border-radius: 10px;
}

.mbti {
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 50px;
}

.tour-box {
    margin: 25px;
    /* background-color: white; */

}

.test-again {
    text-align: center;
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 15px 10px;
    text-decoration: none;
    margin: 50px 25px;
    font-size: 20px;
}

.test-again:hover {
    background-color: #fdf1d7;
    border: none;

}

.goto-main {
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 15px 10px;
    text-decoration: none;
    margin: 50px 25px;
    font-size: 20px;
}

.goto-main:hover {
    background-color: #fdf1d7;
    border: none;
    /* transition: 0.7s; */
}

li{
    margin: 15px 15px;
}