/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@charset "UTF-8";

@font-face {
    font-family: 'rale_italic';
    src: url('/public/static/font/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'rale_bold';
    src: url('/public/static/font/Raleway-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'rale_light';
    src: url('/public/static/font/Raleway-Light.ttf') format('truetype');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.logo{
    font-family: "rale_bold";
    order: 1;
    color: #FFFDF4;
    font-size: 2.3rem;
    position: absolute;
    top: 5%;
    left: 5%;
    cursor: pointer;
}

body {
    /* overflow: hidden; */
    min-height: 100vh;
    background: linear-gradient(to bottom, #085b98 1%, #2196f3 5%, #FFFDF4 60%);
    box-sizing: border-box;
}

.text1 {
    text-align: center;
    font-size: 2.3rem;    
    margin: 20px;
    /* font-family: "rale_bold"; */
    font-weight: bold;
    font-family: 'rale_italic';
    color: navy;
}

.country {
    font-size: 1.4em;
    line-height: 2rem;
    font-weight: bold;
    font-family: 'rale_italic';
    color: navy;
}
.reason{
    font-size: 1.4em;
    line-height: 2em;
    font-weight: bold;
    font-family: 'rale_italic';
    color: navy;
}

.scroll{
    width: 2em; 
    height: 2em; 
    background-color: transparent; 
    /* z-index: 80;  */
    /* bottom: 25px;  */
    /* position: absolute;  */
    border-width: 0 0.5em 0.5em 0; 
    /* border-width: 50px; */
    border-style: solid; 
    border-color: navy ; 
    animation: scrolldown 1.2s ease-in-out infinite 0.15s;
    cursor: pointer;
}

.panel {
    /* border: 1px solid black; */
    /* background-color: white; */
    margin: 0 100px;
    border-radius: 10px;
    /* padding: 15px 25px; */
    /* width: 100%; */
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

/* .result-box {
    background-color: white; 
    border-radius: 10px;
} */

.mbti {
    font-weight: bolder;
    /* font-family: "rale_bold"; */
    font-family: 'rale_italic';
    letter-spacing: 3px;
    font-size: 4.3em;
    background-image: linear-gradient(
        0deg,
        #2196f3 8%,
        navy 100%
      ); 
    
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.tour-box {
    margin: 25px;
    /* background-color: white; */

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-again {
    text-align: center;
    justify-content: center;
    /* display: inline-block; */
    border: 2px solid navy;
    background-color: transparent;
    border-radius: 10px;
    color: navy;
    padding: 15px 30px;
    text-decoration: none;
    margin: 50px 50px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'rale_bold';
}

.test-again:hover {

    /* border: 2px solid navy; */
    transition: 0.7s;
    cursor: pointer;

}

.goto-main {

    /* display: inline-block; */
    border: 2px solid navy;
    background-color: transparent;
    border-radius: 10px;
    color: navy;
    padding: 15px 30px;
    text-decoration: none;
    margin: 50px 50px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'rale_bold';
}

.goto-main:hover {
    /* border: 2px solid navy; */
    /* background-color: #FFFDF4; */
    /* border: none; */
    /* transition: 0.7s; */
    cursor: pointer;
}

li {
    margin: 15px 15px;
}

img {

    width: 200px;
    height: 200px;
}

ul li {
    list-style: none;
}

.infoBox{
    /* border: 1px solid black; */
    margin: 0 100px;
}

.menu {
    /* display: flex; */
    margin: 10px 80px;
}

.menu-item {
    color: navy;
    /* font-size: 1.5em; */
    /* text-align: center; */
    padding: 5px;
    background-color:transparent;
    border-radius: 10px;
    flex-grow: 1;
    transition: 0.2s;
    /* font-family: 'rale_italic'; */
}

/* .menu-item:nth-child(even){
    text-align: center;
} */

.menu-item{
    text-align: center;
}


/* .menu-item:hover {
    color: black;
    background-color:transparent;

} */

.menu-link {
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;

}

/* .menu-link:hover {
    color: white;
} */

/* .info {
    display: none;
} */

/* .menu-item:hover>ul {
    display: block;
} */

.item {
    padding: 15px 0;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    font-family: 'rale_bold';
}

#map {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    display: inline-block;
    width: 800px;
    height: 400px;
}

.text2{
    font-size: 1em;
    line-height: 1.3em;
    text-align: left;
    font-family: 'rale_italic';
}

.text3{
    font-size: 1em;
    line-height: 1.3em;
    text-align: left;
    font-family: 'rale_italic';
}

.scroll{
    left: 50%;
    transform: translateY(0%) rotate(45deg);
    
                  opacity: 0;
  }
  @keyframes scrolldown {
              0%{
                  transform: translateY(20%) rotate(45deg);
                  opacity: 0.7;
              }
              50%{
                  transform: translateY(0%) rotate(45deg);
                  opacity: 0.2;
              }
              100%{
                  transform: translateY(20%) rotate(45deg);
                  opacity: 0.7;
              }
          }