* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  margin: 0;
  padding: 0;
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 100vh;
  background-color: #94e0ff;
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  background: url(/public/static/img/city.png) no-repeat;
  background-size: auto;
  background-position: bottom;
  width: 100%;
  height: 100vh;
}
img {
  max-width: 100%;
}

.cloud,
.air,
.plane {
  position: absolute;
}
/* AIR PLANE ANIMATION */
.plane {
  left: 0;
  top: 10%;
  animation: plane 35s linear infinite;
}
@keyframes plane {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 100%;
    right: -100%;
  }
}
.plane2 {
  animation: plane2 35s linear infinite;
  bottom: 0;
  left: 50%;
  z-index: -1;
}
@keyframes plane2 {
  0% {
    opacity: 0.3;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    bottom: 210%;
    top: -100%;
    transform: scale(1) rotate(90deg) translateX(450px);
  }
}
/* CLOUD ANIMATION */
.cloud {
  left: -50%;
  opacity: 1;
  animation: cloud 55s linear infinite;
}

@keyframes cloud {
  0% {
    opacity: 0.5;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 100%;
    right: -100%;
  }
}
/* AIR BALOON ANIMATION */
.air {
  bottom: 250px;
  left: 70%;
  z-index: -1;
  animation: air 45s linear infinite;
}
.air2 {
  animation-delay: 20s;
  left: 20%;
  opacity: 0;
}

@keyframes air {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    bottom: 100%;
  }
}

/* 방명록 */

.two-wrapper {
  position: absolute;
  width: 100%;
  /* height: auto; */
}
.two-wrapper .header {
  display: block;
  width: 100%;
}
.container {
  height: 480px;
  width: 500px;
  overflow: hidden;
  background: #fff;
  margin: 0 auto;
  transition: height 0.2s ease;
  border-radius: 10px;
  /* box-shadow: 5px 20px 50px #000; */
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}
.container.active {
  height: 590px;
}
.container .container_wrapper {
  display: flex;
  width: 1000px;
}
.container section {
  width: 500px;
  background: #fff;
}

.container .post {
  /* display: none; */
  transition: margin-left 0.18s ease;
}
.container.active .post {
  margin-left: -500px;
}

.post header {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding: 17px 0;
  border-bottom: 1px solid #bfbfbf;
}

.post .guest_form {
  margin: 20px 25px;
}
.post form :where(.content, .details .select_box) {
  display: flex;
  align-items: center;
}
.post form .content img {
  max-width: 52px;
}

.post form .content .details {
  margin: -3px 0 0 12px;
}

form .content .details p {
  font-size: 17px;
  font-weight: 500;
}
form .content .details .select_box {
  cursor: pointer;
  max-width: 98px;
  font-size: 11px;
  padding: 0 10px;
  margin-top: 3px;
  border-radius: 5px;
  background: #e4e6eb;
  justify-content: space-between;
}

.details .select_box span {
  font-size: 13px;
  margin-top: 1px;
  font-weight: 500;
}
.details .select_box i:last-child {
  font-size: 13px;
  margin-left: 1px;
}

.post form :where(textarea, button) {
  width: 100%;
  outline: none;
  border: none;
}
.post form textarea {
  resize: none;
  font-size: 18px;
  margin-top: 30px;
  min-height: 100px;
}
.guest_form button {
  color: #bcc0c4;
  height: 53px;
  cursor: no-drop;
  font-size: 18px;

  outline: none;
  border: none;
  border-radius: 5px;

  background: #e2e5e9;

  margin-bottom: 20px;
}

.post form textarea:valid ~ button {
  color: #fff;
  cursor: pointer;
  background: #e89d3a;
}

/* MBTI 선택 */
.container .mbti_type {
  opacity: 0;
  transition: opacity 0.12s ease;
}
.container.active .mbti_type {
  opacity: 1;
}
.mbti_type header {
  padding: 17px 0;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
}

.mbti_type :where(.arrow-back, .icon, .radio) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mbti_type header .arrow-back {
  position: absolute;
  left: 25px;
  height: 35px;
  width: 35px;
  cursor: pointer;
  border-radius: 50%;
  color: #747474;
  background: #e4e6eb;
}

.mbti_type header p {
  font-size: 22px;
  font-weight: 600;
}

.mbti_type .content {
  margin: 20px 25px 0;
}

.mbti_type .content p {
  font-size: 17px;
  font-weight: 500;
}

.mbti_type .content span {
  font-size: 14px;
  color: #65676b;
}

.mbti_type .list {
  margin: 15px 16px 20px;
}
.mbti_type .list li {
  cursor: pointer;
  list-style: none;
  margin-bottom: 5px;
  padding: 12px 10px;
  border-radius: 7px;
}

.mbti_type .list li:hover {
  background: #f0f1f4;
}
.mbti_type .list li.active,
.mbti_type .list li.active:hover {
  background: #e5f1ff;
}
/* 잠시 보류 */
.mbti_type .list li .column {
  display: flex;
  align-items: center;
}
.mbti_type .list li .column .icon {
  height: 50px;
  width: 50px;
  background: #e4e6eb;
  border-radius: 50%;
}

.mbti_type .list li .column .details {
  margin-left: 15px;
}
.mbti_type .list li .column .details p {
  font-weight: 500;
}
.mbti_type .list li .column .details span {
  font-size: 14px;
  color: #65676b;
}
.mbti_type .list li .radio {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #707070;
}
.mbti_type .list li.active .radio {
  border: 2px solid #4599ff;
}
.mbti_type .list li.active .radio::before {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: inherit;
  background: #4599ff;
}
/* 삭제 */
.board {
  /* border: 2px solid black; */
  /* 중앙정렬 */
  width: 1280px;
  margin: 0 auto;
  padding: 30px 50px 50px;
}

/* 삭제 */

#chk {
  display: none;
}

.signup {
  position: relative;
  background: #f8f4da;
  width: 100%;
  height: 100%;
}

.login {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}
.edit {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: #fff; */
}
.edit label {
  padding: 10px 115px 0px;
}
label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  /* margin: 60px; */
  /* padding: 60px; */
  padding: 50px 60px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
