@charset "UTF-8";

@font-face {
  font-family: "rale_bold";
  src: url("/public/static/font/Raleway-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "rale_light";
  src: url("/public/static/font/Raleway-Light.ttf") format("truetype");
}
:root {
  --font-size-lg: calc(1rem + 2vw);
  --font-size-md: calc(0.5rem + 1vw);
  --font-size-sm: calc(0.5rem + 0.5vw);
  font-family: "rale_bold";
}
a {
  font-size: var(--font-size-sm);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-none {
  display:none;
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  background-color: #fbf4d7;
  overflow: hidden;
}
section {
  position: relative;
  height: 450px;
  width: 1075;
  display: flex;
  align-items: center;
  margin-top: 55px;
}

/* 게스트 방명록 */
.swiper {
  width: 950px;
}
.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #f90;
}
.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  color: #f90;
  transition: all 0.3 ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: #f90;
}

section .card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #f90;
  border: 3px solid #fff;
}

section .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
}

.card::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #f90;
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.card .userMbti {
  position: absolute;
  top: 10px;
  right: 20px;
}

.card .userMbti span {
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.card .userMbti span:hover {
  opacity: 1;
}

.card .userId-userContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #333;
}

.userId-userContent .userId {
  font-size: 20px;
  font-weight: 600;
}

.userId-userContent .userContent {
  height: 100px;
  font-size: 15px;
  font-weight: 500;
}

.card .button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button button {
  background: #f90;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .button button:hover {
  background: #f63131;
}

/* navBar */
.header {
  width: 100%;
  /* display: flex;
  align-self: flex-start; */
}
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.container-nav {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  box-shadow: 0px 2px 16px 0px #aaa;
  position: relative;
  width: 100%;
  /* background: #2196f3; */
  /* background: #fffdf4; */
  color: #000;
  opacity: 0.85;
  z-index: 1;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}
.logo {
  font-family: "rale_bold";
  order: 1;
  color: #f90;
  font-size: 2.3rem;
  cursor: pointer;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

.navbar a {
  /* color: #444; */
  font-family: "rale_light";
  color: #f90;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  font-family: "rale_bold";
}

.navbar a:hover {
  color: #f63131;
}

/* 버튼 */
.user-card-button {
  margin-top: 50px;
  width: 1075px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user-card-button button {
  width: 40%;
  height: 53px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background: #f90;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: bold;
}
.user-card-button button:hover {
  background-color: #f63131;
}
