@charset "UTF-8";

@font-face {
    font-family: 'rale_bold';
    src: url('/public/static/font/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'rale_light';
    src: url('/public/static/font/Raleway-Light.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fbf4d7;
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  background: url(../city.png) no-repeat;
  background-size: auto;
  background-position: bottom;
  width: 100%;
  height: 100vh;
}

/* 게스트 방명록 */
.swiper {
  width: 950px;
}
.swiper-pagination-bullets {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #7d2ae8;
}
.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  color: #7d2ae8;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: #7d2ae8;
  transition: all 0.3s ease;
}

.two-body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.guestSection {
  border: 1px solid red;
  position: relative;
  height: 450px;
  width: 1075;
  display: flex;
  align-items: center;
}

section .card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #7d2ae8;
  border: 3px solid #fff;
}

section .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
}

.card::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #7d2ae8;
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #333;
}

.name-profession .name {
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession {
  height: 100px;
  font-size: 15px;
  font-weight: 500;
}

.card .button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button button {
  background: #7d2ae8;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .button button:hover {
  background: #6616d0;
}

/* 방명록 */

.two-wrapper {
  position: absolute;
  width: 100%;
}
.two-wrapper .header {
  display: block;
  width: 100%;
}
.container {
  height: 380px;
  width: 500px;
  overflow: hidden;
  position: relative;
  left: 33%;
  margin-top: 10%;
  overflow: hidden;
  background: #fff;
  transition: height 0.2s ease;
  border-radius: 20px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}
.container.active {
  height: 540px;
}
.container .container_wrapper {
  display: flex;
  width: 1000px;
}
.container section {
  width: 500px;
  background: #fff;
}

.container .post {
  transition: margin-left 0.18s ease;
  font-family: "rale_bold";
}

.container.active .post {
  margin-left: -500px;
}

.post header {
  background-color: #f90;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding: 17px 0;
}

.post .guest_form {
  margin: 20px 25px;
}
.post form :where(.content, .details .select_box),
.mbti_type .list li .column {
  display: flex;
  align-items: center;
}
.post form .content img {
  max-width: 52px;
  border-radius: 50%;
}

.post form .content .details {
  margin: -3px 0 0 12px;
}

form .content .details p {
  font-size: 17px;
  font-weight: 500;
}
form .content .details .select_box {
  cursor: pointer;
  max-width: 98px;
  font-size: 11px;
  padding: 0 10px;
  margin-top: 3px;
  border-radius: 5px;
  background: #e4e6eb;
  justify-content: space-between;
}

.details .select_box span {
  font-size: 13px;
  margin-top: 1px;
  padding-left: 3px;
  font-weight: 500;
}
.details .select_box i:last-child {
  font-size: 13px;
  margin-left: 1px;
}

.post form :where(textarea, button) {
  width: 100%;
  outline: none;
  border: none;
  font-family: "rale_light";
}
.post form textarea {
  resize: none;
  font-size: 18px;
  margin-top: 30px;
  min-height: 100px;
}
form button {
  height: 53px;
  cursor: no-drop;
  font-size: 18px;
  font-weight: 500;
  color: #bcc0c4;
  border-radius: 20px;
  background: #e2e5e9;
}

.post form textarea:valid ~ button {
  color: #fff;
  cursor: pointer;
  background: #f90;
}
.post form textarea:valid ~ button:hover {
  background-color: #f63131;
}

/* MBTI 선택 */
.container .mbti_type {
  opacity: 0;
  transition: opacity 0.12s ease;
}
.container.active .mbti_type {
  opacity: 1;
}
.mbti_type header {
  padding: 17px 0;
  background: #f90;
  color: #fff;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #bfbfbf;
}

.mbti_type header .arrow-back {
  position: absolute;
  left: 25px;
  height: 35px;
  width: 35px;
  cursor: pointer;
  border-radius: 50%;
  color: #f90;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mbti_type header p {
  font-size: 22px;
  font-weight: 600;
}

.mbti_type :where(.arrow-back, .icon, .radio) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
}

.mbti_type .content {
  margin: 20px 25px 0;
}

.mbti_type .content p {
  font-size: 17px;
  font-weight: 500;
}

.mbti_type .content span {
  font-size: 14px;
  color: #65676b;
}

.mbti_type .list {
  margin: 5px 16px 20px;
}
.mbti_type .list li {
  cursor: pointer;
  list-style: none;
  margin: 10px;
  padding: 12px 13px;
  border-radius: 50%;
  width: 95px;
  float: left;
  color: #fff;

  /* 조절 */
  align-items: center;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.mbti_type .list li:hover {
  transform: scale(1.2);
}
.mbti_type .list li.active,
.mbti_type .list li.active:hover {
  background: #e5f1ff;
}

.mbti_type .list li .column {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
.mbti_type .list li .column .icon {
  width: 50px;
  font-size: 23px;
  border-radius: 50%;
}

.mbti_type .list li .column .details {
  text-align: center;
}
.mbti_type .list li .column .details p {
  font-weight: 500;
}
.mbti_type .list li .column .details span {
  font-size: 12px;
  color: #fff;
}
.mbti_type .list li .radio {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #707070;
}
.mbti_type .list li.active .radio {
  border: 2px solid #4599ff;
}
.mbti_type .list li.active .radio::before {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: inherit;
  background: #4599ff;
}


.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container-nav{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 2px 16px 0px #aaa;
    position: relative;
    width: 100%;
    /* background: #2196f3; */
    /* background: #fffdf4; */
    color: #000;
    opacity: 0.85;
    z-index: 1;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    font-family: "rale_bold";
    order: 1;
    color: #f90;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    /* color: #444; */
    font-family: "rale_light";
    color: #f90;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #f63131;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}