* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #94e0ff;
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  background: url(../city.png) no-repeat;
  background-size: auto;
  background-position: bottom;
  width: 100%;
  height: 100vh;
}
img {
  max-width: 100%;
}

.cloud,
.air,
.plane {
  position: absolute;
}
/* AIR PLANE ANIMATION */
.plane {
  left: 0;
  top: 10%;
  animation: plane 35s linear infinite;
}
@keyframes plane {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 100%;
    right: -100%;
  }
}
.plane2 {
  animation: plane2 35s linear infinite;
  bottom: 0;
  left: 50%;
  z-index: -1;
}
@keyframes plane2 {
  0% {
    opacity: 0.3;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    bottom: 210%;
    top: -100%;
    transform: scale(1) rotate(90deg) translateX(450px);
  }
}
/* CLOUD ANIMATION */
.cloud {
  left: -50%;
  opacity: 1;
  animation: cloud 55s linear infinite;
}

@keyframes cloud {
  0% {
    opacity: 0.5;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 100%;
    right: -100%;
  }
}
/* AIR BALOON ANIMATION */
.air {
  bottom: 250px;
  left: 70%;
  z-index: -1;
  animation: air 45s linear infinite;
}
.air2 {
  animation-delay: 20s;
  left: 20%;
  opacity: 0;
}

@keyframes air {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    bottom: 100%;
  }
}

/* 게스트 방명록 */
.swiper {
  width: 950px;
}
.swiper-pagination-bullets {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #7d2ae8;
}
.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  color: #7d2ae8;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: #7d2ae8;
  transition: all 0.3s ease;
}

.two-body {
  display: flex;
  height: 100vh;
  border: 1px solid royalblue;
  align-items: center;
  justify-content: center;
}
.guestSection {
  border: 1px solid red;
  position: relative;
  height: 450px;
  width: 1075;
  display: flex;
  align-items: center;
}

section .card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #7d2ae8;
  border: 3px solid #fff;
}

section .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
}

.card::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #7d2ae8;
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #333;
}

.name-profession .name {
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession {
  height: 100px;
  font-size: 15px;
  font-weight: 500;
}

.card .button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button button {
  background: #7d2ae8;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .button button:hover {
  background: #6616d0;
}

/* 방명록 */
.two-wrapper {
  position: absolute;
  width: 100%;
}
.two-wrapper .header {
  display: block;
  width: 100%;
}
.container {
  height: 480px;
  width: 500px;
  overflow: hidden;
  background: #fff;
  margin: 0 auto;
  transition: height 0.2s ease;
  border-radius: 10px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}
.container.active {
  height: 590px;
}
.container .container_wrapper {
  display: flex;
  width: 1000px;
}
.container section {
  width: 500px;
  background: #fff;
}

.container .post {
  transition: margin-left 0.18s ease;
}

.container.active .post {
  margin-left: -500px;
}

.post header {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding: 17px 0;
  border-bottom: 1px solid #bfbfbf;
}

.post .guest_form {
  margin: 20px 25px;
}
.post form :where(.content, .details .select_box),
.mbti_type .list li .column {
  display: flex;
  align-items: center;
}
.post form .content img {
  max-width: 52px;
  border-radius: 50%;
}

.post form .content .details {
  margin: -3px 0 0 12px;
}

form .content .details p {
  font-size: 17px;
  font-weight: 500;
}
form .content .details .select_box {
  cursor: pointer;
  max-width: 98px;
  font-size: 11px;
  padding: 0 10px;
  margin-top: 3px;
  border-radius: 5px;
  background: #e4e6eb;
  justify-content: space-between;
}

.details .select_box span {
  font-size: 13px;
  margin-top: 1px;
  padding-left: 3px;
  font-weight: 500;
}
.details .select_box i:last-child {
  font-size: 13px;
  margin-left: 1px;
}

.post form :where(textarea, button) {
  width: 100%;
  outline: none;
  border: none;
}
.post form textarea {
  resize: none;
  font-size: 18px;
  margin-top: 30px;
  min-height: 100px;
}
form button {
  height: 53px;
  cursor: no-drop;
  font-size: 18px;
  font-weight: 500;
  color: #bcc0c4;
  border-radius: 7px;
  background: #e2e5e9;
}

.post form textarea:valid ~ button {
  color: #fff;
  cursor: pointer;
  background: #e89d3a;
}

/* MBTI 선택 */
.container .mbti_type {
  opacity: 0;
  transition: opacity 0.12s ease;
}
.container.active .mbti_type {
  opacity: 1;
}
.mbti_type header {
  padding: 17px 0;

  text-align: center;
  position: relative;
  border-bottom: 1px solid #bfbfbf;
}

.mbti_type header .arrow-back {
  position: absolute;
  left: 25px;
  height: 35px;
  width: 35px;
  cursor: pointer;
  border-radius: 50%;
  color: #747474;
  background: #e4e6eb;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mbti_type header p {
  font-size: 22px;
  font-weight: 600;
}

.mbti_type :where(.arrow-back, .icon, .radio) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
}

.mbti_type .content {
  margin: 20px 25px 0;
}

.mbti_type .content p {
  font-size: 17px;
  font-weight: 500;
}

.mbti_type .content span {
  font-size: 14px;
  color: #65676b;
}

.mbti_type .list {
  margin: 5px 16px 20px;
}
.mbti_type .list li {
  cursor: pointer;
  list-style: none;
  margin: 10px;
  padding: 12px 13px;
  border-radius: 50%;
  width: 95px;
  float: left;
  color: #fff;
  align-items: center;
}

.mbti_type .list li:hover {
  transform: scale(1.2);
}
.mbti_type .list li.active,
.mbti_type .list li.active:hover {
  background: #e5f1ff;
}

.mbti_type .list li .column {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  font-weight: bold;
}
.mbti_type .list li .column .icon {
  width: 50px;
  font-size: 23px;
  border-radius: 50%;
}

.mbti_type .list li .column .details {
  text-align: center;
}
.mbti_type .list li .column .details p {
  font-weight: 500;
}
.mbti_type .list li .column .details span {
  font-size: 12px;
  color: #fff;
}
.mbti_type .list li .radio {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #707070;
}
.mbti_type .list li.active .radio {
  border: 2px solid #4599ff;
}
.mbti_type .list li.active .radio::before {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: inherit;
  background: #4599ff;
}
