html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    background: linear-gradient(to bottom, #085b98 1%, #2196f3 5%, #FFFDF4 60%) !important;
    /* background: linear-gradient(to bottom, #ad4a28 1%, #dd723c 5%, #FFFDF4 60%) !important; */
    margin: 0px;
    overflow: hidden;
    /* display: flex;
  justify-content: center;
  align-items: center; */
    height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* text-align: center; */
    height: 80%;
}

.airplaneAnimation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plane {
    width: 400px;
    height: 200px;
    margin-bottom: 8%;
    animation: fly 7s linear infinite;
}

@keyframes fly {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}


.clouds {
    position: absolute;
    top: 50px;
    width: 100%;
    animation: moving 15s linear infinite;
}

@keyframes moving {
    from {
        left: 40%;
    }

    to {
        left: -100%;
    }
}

.logo {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 10rem;
    height: 7rem;
}

.btn {
    /* flex-direction: row; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 30px; */
}

button {
    padding: 10px 70px 10px 70px;
    color: #2196f3;
    background: transparent;
    font-size: 1.4em;
    font-weight: bold;
    border-radius: 30px;
    border: 3px solid;
}

button:hover {
    /* background: #f63131; */
    color: #ffc107;
}

.text {

    margin: 20px;
    font-size: 2.2em;
    font-weight: 900;
    letter-spacing: 2px;
    /* background-image: linear-gradient(0deg,
            rgba(246, 49, 49, 1) 8%,
            rgba(249, 159, 24, 1) 47%,
            rgba(249, 226, 24, 1) 100%); */
    background-color: #2196f3;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*   
  html, body {
    width: 100%;
    height: 100%;
    font-family: Arial;
  } */
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);
  }
  
  .container {
    /* color: var(--color); */
    color: #2196f3;
    /* position: absolute; */
    margin-bottom: 5;
    margin-bottom: 10%;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
  }
  
  .right {
    text-align: right;
    width: 100%;
  }
  
  .stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 #ffc107, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 #ffc107, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 #ffc107, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 #ffc107, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }
