body {
  display: flex;
  margin: 0;
  padding: 0;
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 100vh;
  background-color: #94e0ff;
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  background: url(../city.png) no-repeat;
  background-size: auto;
  background-position: bottom;
  width: 100%;
  height: 100vh;
}
img {
  max-width: 100%;
}

.cloud,
.air,
.plane {
  position: absolute;
}
/* AIR PLANE ANIMATION */
.plane {
  left: 0;
  top: 10%;
  animation: plane 35s linear infinite;
}
@keyframes plane {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 100%;
    right: -100%;
  }
}
.plane2 {
  animation: plane2 35s linear infinite;
  bottom: 0;
  left: 50%;
  z-index: -1;
}
@keyframes plane2 {
  0% {
    opacity: 0.3;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    bottom: 210%;
    top: -100%;
    transform: scale(1) rotate(90deg) translateX(450px);
  }
}
/* CLOUD ANIMATION */
.cloud {
  left: -50%;
  opacity: 1;
  animation: cloud 55s linear infinite;
}

@keyframes cloud {
  0% {
    opacity: 0.5;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 100%;
    right: -100%;
  }
}
/* AIR BALOON ANIMATION */
.air {
  bottom: 250px;
  left: 70%;
  z-index: -1;
  animation: air 45s linear infinite;
}
.air2 {
  animation-delay: 20s;
  left: 20%;
  opacity: 0;
}

@keyframes air {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    bottom: 100%;
  }
}

/* login */
.main {
  position: absolute;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  width: 350px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk {
  display: none;
}

.signup {
  /* background: yellow; */
  position: relative;
  width: 100%;
  height: 100%;
}
label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

input {
  width: 60%;
  height: 20px;
  background: #c0ecfd;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #2295d0;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  background: #239fdc;
}

.login {
  height: 460px;
  background: #ecf8fd;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}

.login label {
  color: #0069ce;
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}

#chk:checked ~ .signup label {
  transform: scale(0.6);
}
